
.trippo-guide {
 min-height: 100vh;
margin-top: 20px;
margin-bottom: 100px;
}
.carousel-container {
  gap: 2rem;
  width: 20%;
}

.carousel-card {
  gap: 2rem;
  width: 30%;
}

.carousel {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 80%;
}

.arrows {
  display: none

}


.title-text {
  text-align: center;
}

.title-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ff6347;
}

.title-text h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: rgb(82, 81, 81);
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  width: 70%;
}


.text-steps {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 70%;
}

.text-steps h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: rgb(82, 81, 81);
}

.text-steps p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: rgb(82, 81, 81);
}

.text-steps strong {
  font-weight: bold;
}

.text-steps a {
  color: #0055ff;
  text-decoration: none;
  font-weight: bold;
}

.text-steps a:hover {
  text-decoration: underline;
}

.slick-slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}


@media screen and (max-width: 768px) {
  .title-text {
    text-align: center;
    margin: 5px;
  }
  
  .title-text h1 {
    font-size: 1.2rem;
  }

  .title-text h2 {
    font-size: 1rem;
  }

  .main-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-content p {
    font-size: 0.8rem;
  }

  .text-steps {
    font-size: 1rem;
    width: 90%;
  }

  .text-steps h3 {
    font-size: 1.2rem;
  }

  .text-steps p {
    font-size: 0.8rem;
  }

  .carousel-card {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
