.my-trips {
  max-width: 50vw;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

.my-trips h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(82, 81, 81);
}

.my-trips h1::after {
  content: "";
  display: block;
  width: 100%;
  margin: auto;
  padding-top: 0px;
  border-bottom: 0.2px solid rgb(215, 215, 215);
}

.my-trips ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tripCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.tripCardHeader p:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.cityName-myTrips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
  padding-left: 20px;
}
.cityName {
  font-weight: bold;
  color: #ff6347;
  font-size: 24px;
}

.monthName {
  font-weight: bold;
  color: #171616;
  font-size: 22px;
}

.form-tripNamechange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  height: 250px;
  width: 450px;
}

.form-tripNamechange label {
  font-weight: bold;
  color: #424242;
}

.form-tripNamechange input {
  margin-left: 10px;
  max-width: 200px;
  border-radius: 5px;
  border: 2px solid #f07466;
}

.tripNamechange-btn {
  margin: 20px 15px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: #131212;
  width: 80px;
  height: 30px;
  font-size: 16px;
  background-color: #ff6347;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}
.deleteMyTrip-btns {
  display: flex;
  align-self: center;
  margin-top: 10px;
  width: 25%;
  height: 100%;
}

.deleteMyTrip-btns > button {
  margin: 0 15px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: #fff;
  width: 80px;
  height: 30px;
  font-weight: 800;
  font-size: 14px;
  background-color: #ff6347;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.deleteMyTrip-btns > button:hover {
  background-color: #7f8c8d;
}

.toggleIcon {
  align-self: flex-end;
  font-size: 40px;
  width: 30px;
  color: #666;
}

.toggleIconRotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.trip {
  background-color: #e74c3c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.trip ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.trip li {
  margin-right: 24px;
}

.trip li a {
  display: block;
  padding: 16px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.trip li a:hover {
  background-color: #f29e9e;
}

.menu-container {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
}

@media (max-width: 1500px) {
  .deleteMyTrip-btns {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .my-trips {
    max-width: 95%;
    min-height: 100vh;
    margin-bottom: 100px;
  }

  .tripCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    width: 100%;
    cursor: pointer;
  }

  .deleteMyTrip-btns > button {
    font-size: 12px;
  }
  .deleteMyTrip-btns {
    width: 40%;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .cityName {
    font-size: 16px;
  }
  .monthName {
    font-size: 14px;
  }
  .cityName-myTrips {
    margin-left: 0;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    font-size: 12px;
    padding-left: 0px;
    font-weight: 600;
    width: 40%;
  }

  .deleteMyTrip-btns > button {
    font-size: 12px;
  }

  .form-tripNamechange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    height: 40%;
    width: 100%;
  }

  .form-tripNamechange label {
    font-weight: bold;
    color: #424242;
    margin-top: 20px;
  }

  .form-tripNamechange input {
    margin-left: 0px;
    max-width: 150px;
    border-radius: 5px;
    border: 2px solid #f07466;
  }

  .tripNamechange-btn {
    border: none;
    margin-left: 2px;
    border-radius: 5px;
    color: #131212;
    width: 60px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    background-color: #ff6347;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .deleteMyTrip-btns {
    display: flex;
    align-self: center;
    margin-top: 10px;
    width: 25%;
    height: 100%;
  }

  .deleteMyTrip-btns > button {
    margin: 0 0px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 80px;
    height: 30px;
    font-weight: 800;
    font-size: 14px;
    background-color: #ff6347;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
  }

  .deleteMyTrip-btns > button:hover {
    background-color: #7f8c8d;
  }

  .toggleIcon {
    align-self: flex-end;
    font-size: 30px;
    width: 40px;
    color: #666;
  }
}

/******************************* MY TRIPS OFFINE MODE *******************/

.myTrips-OffModebtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myTrips-OffModebtns button {
  margin: 0 10px;
  padding: 5px;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  background-color: #ff6347;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.myTrips-OffModebtns > button:hover {
  background-color: #7f8c8d;
}

/******************  buttonsCard ******************/
.botones-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.link-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.btn-text-uppercase {
  background-color: #ff6347;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border-color: transparent;
}
.btn-text-uppercase:hover {
  background-color: #f97f69;
}

.enlaces-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.enlace-reserva img {
  width: 100px;
  object-fit: cover;
  border-radius: 20px;
  height: 3em;
  margin-right: 0.5em;
  filter: brightness(100%);
  transition: filter 0.2s ease-in-out;
}
.enlace-reserva {
  background-color: #e8eeee;
  color: rgb(59, 59, 59);
  font-weight: 700;
  font-size: 16px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.enlace-reserva:hover {
  text-decoration: underline;
  color: #e74c3c;
  cursor: pointer;
}
.compartir-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.enlace-compartir {
  background-color: #e8eeee;
  color: rgb(59, 59, 59);
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .link-card {
    width: 80%;
  }

  .enlace-reserva img {
    border-radius: 10px;
    height: 6vh;
    width: 12vw;
  }
  .enlace-reserva {
    font-weight: 600;
    font-size: 14px;
    padding-top: 20px;
    gap: 5px;
  }
  .myTrips-OffModebtns button {
    width: 150px;
    font-size: 16px;
  }
}
