.listOfTripCards {
    display: flex;
    flex-direction: column;
}

.tripCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}