
.destination-card {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
  }
  
  .destination-card img {
    width: 30vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
   
  .destination-card h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .destination-card p {
    font-size: 1.2rem;
  }
  .imgDestination  {
    display:flex;
    flex-direction: column;
    align-items: center;
  } 

@media only screen and (max-width: 768px) {
    .destination-card {
      padding: 10px;

    }
    
    .destination-card img {
      height: 200px;
      width: 300px;
    }
    .destination-card h3 {
      font-size: 1.2rem;
    }
    
    .destination-card p {
      font-size: 0.8rem;
      text-align:center;
      width: 300px;
  }
}
  .location-icon {
    margin-right: 5px;
    font-size: 18px;
    color: #ff8c00;
  }
  
  .star-icon {
    margin-right: 5px;
    font-size: 18px;
    color: #ff8c00;
  }
  
  .rating {
    font-weight: 500;
    color: #666;
  }
