.search {
  width: 100%;

 }
 .searchCard {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
 }

 .search-input {
   position: relative;
   display: flex;
   align-items: center;
   width: 60%;
 }

 .search-input input[type="text"] {
   padding-left: 5rem;
   padding-right: 2rem;
   margin-bottom: 0px;
 }

 .search-icon {
   position: absolute;
   left: 1.5rem;
   top: 0.5rem;
   cursor: pointer;
   color: gray;
   width: 30px;
   height: 30px;
 }
 .suggested-cities{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding-top: 20px;
    border: 1px solid #ccc;
 }


 @media (max-width: 768px) {
  .searchCard {
    align-items: center;
  }
   .search-input {
     width: 90%;
     margin-top: 100px;
     align-items: center;
   }
   .search-input input[type="text"] {
     font-size: 1rem;
   }

   .search-icon {
     width: 20px;
     height: 20px;
     top: 0.7rem;
   }
 }