body, html {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgba(245, 245, 245, 0.85);
  background-image: linear-gradient(to right, rgba(255, 165, 0, 0.2) 10%, rgba(255, 165, 0, 0) 40%, rgba(255, 165, 0, 0) 60%, rgba(255, 165, 0, 0.2) 90%);
}


