  
  .mostSearchedCities {
    margin-top: 3rem;
    max-width: 1024px;
    margin: 3rem auto;
  }
  
  .slick-slider {
    margin: 0 auto;
    max-width: 1024px;
  }
  
  .slick-slide {
    margin: 0 10px;
  }
  
  .mostSearchedCity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .mostSearchedCity h2 {
    font-size: 1.5rem;
    margin: 1rem;
  }
  
  .mostSearchedCity img {
    width: 90%;
    height: 200px;
    object-fit: cover;
   margin-bottom: 10px;
   border-radius: 10px;
  }

  .slider-arrow-left,
.slider-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slider-arrow-left {
  left: 20px;
}

.slider-arrow-right {
  right: 20px;
}

.slider-arrow svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.slider-arrow-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.slider-arrow-background:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

  /* Oculta el componente CityOverview por defecto */
  .city-overview {
    display: none;
  }
  
  /* Muestra el componente CityOverview cuando se hace clic en el elemento con la clase "open-city-overview" */
  .open-city-overview {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .open-city-overview:hover + .city-overview {
    display: block;
  }



  
  @media only screen and (max-width: 768px) {
    .mostSearchedCities {
      margin-top: 2rem;
    }
  
    .slick-slider {
      max-width: 600px;
    }
  
    .mostSearchedCity img {
      height: 150px;
    }
     .slider-arrow {
    display: none;
  }

  /* Muestra el componente CityOverview cuando se hace clic en cualquier lugar de la tarjeta */
  .mostSearchedCity {
    cursor: pointer;
  }
  
  .mostSearchedCity:hover .city-overview {
    display: block;
  }
}